/* Master Styles */
body {
  margin: 2em;
  color: white;
  background-color: #2C2B29;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #FFE300;
  font-size: 250%;
}
h2, h3 {
  color: white;
  font-weight: lighter;
}
